# Gradle
.gradle/
build/
app/build/
captures/
*.iml
.gradle/
local.properties
/.idea/
.DS_Store
/build
/captures
/.cxx

# Android
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.releaselock

# Kotlin
*.log
*.lock

# OS
.DS_Store
Thumbs.db

# Keystore
*.jks
*.keystore
